hacking>=1.1.0,<1.2.0
coverage>=4.0
fixtures>=3.0.0
python-subunit>=1.0.0
sphinx>=1.6.5
openstackdocstheme>=1.18.1 # Apache-2.0
stestr>=1.0.0 # Apache-2.0
testscenarios>=0.4
testtools>=2.2.0
oslotest>=3.2.0 # Apache-2.0
